---
layout: page
title: مطالب آموزشی
permalink: /articles/
---

{% for post in site.posts %}
  <article class="post">
    <header class="entry-header">
      <h1 class="entry-title">
        <a href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">{{ post.title }}</a>
      </h1>
    </header>
    <div class="entry-content">
      {% if post.description %}
        <p>{{ post.description }}
        <a class="continue-reading" href="{{ post.url }}" rel="bookmark" title="Permalink to {{ post.title }}">
        	<button class="btn btn-info" type="button">ادامه مطلب</button>
        </a></p>
        <hr>
      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
  </article>
{% endfor %}

<nav class="paging-navigation clearfix" role="navigation">
  {% if paginator.previous_page %}
    <div class="nav-previous">
      {% if paginator.previous_page == 1 %}
      <a id="js-navigation--previous" href="/" class="nav-previous--link">Newer Posts</a>
      {% else %}
      <a id="js-navigation--previous" href="/page{{ paginator.previous_page }}/" class="nav-previous--link">Newer Posts</a>
      {% endif %}
    </div>
  {% endif %}
  {% if paginator.next_page %}
  <div class="nav-next">
    <a id="js-navigation--next" href="/page{{ paginator.next_page }}/" class="nav-next--link">Older Posts</a>
  </div>
  {% endif %}
</nav>
